<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Qi <div class="qi"></div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <BR>
    <small>Qi <div class="qi"></div> is a point system representing users' participation in sharing experiences in Restaurant Patron.
      <div class="qi"></div> are accumulated and a rankings is represented base on restaurant, city and country.</small>
  </ion-item>
  <div style="padding: 5px 20px;">
    <div style="display: block; text-align: center"><h3><div class="qi"></div>  ranking table</h3></div>
    <div style="display: block">
      <div style="display: inline-block; width: 10vw; background-color: white; text-align: center"><div class="qi ultimate"><img class="qi-crown" src="/assets/icon/crown.png"></div></div>
      <div style="display: inline-block; background-color: #ffd700; padding: 5px;">
        <div style="display: inline-block; width: 40vw">Ultimate Patron</div>
        <div style="display: inline-block; width: 30vw; text-align: right">Highest overall</div>
      </div>
    </div>

    <div style="display: block">
      <div style="display: inline-block; width: 10vw; background-color: white; text-align: center"><div class="qi supreme"></div></div>
      <div style="display: inline-block; background-color: #FFC000; padding: 5px;">
        <div style="display: inline-block; width: 40vw">Supreme</div>
        <div style="display: inline-block; width: 30vw; text-align: right">>11 <div class="qi"></div> & 71-100%</div>
      </div>
    </div>

    <div style="display: block">
      <div style="display: inline-block; width: 10vw; background-color: white; text-align: center"><div class="qi veteran"></div></div>
      <div style="display: inline-block; background-color: #acb5fc; padding: 5px;">
        <div style="display: inline-block; width: 40vw">Veteran</div>
        <div style="display: inline-block; width: 30vw; text-align: right">>11 <div class="qi"></div> & 31-70%</div>
      </div>
    </div>

    <div style="display: block">
      <div style="display: inline-block; width: 10vw; background-color: white; text-align: center"><div class="qi inspiring"></div></div>
      <div style="display: inline-block; background-color: #b9b0e4; padding: 5px;">
        <div style="display: inline-block; width: 40vw">Inspiring</div>
        <div style="display: inline-block; width: 30vw; text-align: right">>11 <div class="qi"></div> & 1-30%</div>
      </div>
    </div>

    <div style="display: block">
      <div style="display: inline-block; width: 10vw; background-color: white; text-align: center"><div class="qi novice"></div></div>
      <div style="display: inline-block; background-color: #b6d7de; padding: 5px;">
        <div style="display: inline-block; width: 40vw">Novice</div>
        <div style="display: inline-block; width: 30vw; text-align: right">1-10 <div class="qi"></div></div>
      </div>
    </div>

    <div style="display: block">
      <div style="display: inline-block; width: 10vw; background-color: white; text-align: center"><div class="qi newbie"></div></div>
      <div style="display: inline-block; background-color: #c5e0b3; padding: 5px;">
        <div style="display: inline-block; width: 40vw">Newbie</div>
        <div style="display: inline-block; width: 30vw; text-align: right">0 <div class="qi"></div></div>
      </div>
    </div>
  </div>
  <div style="padding: 5px 20px;">
    <div style="display: block; text-align: center"><h3><div class="qi"></div> points</h3></div>
    <div style="display: block; background-color: #efefef; padding: 5px;">
      <div style="display: inline-block; width: 70vw">Rate Experiences</div>
      <div style="display: inline-block; width: 10vw; text-align: right">3 <div class="qi"></div></div>
    </div>
    <div style="display: block; background-color: #efefef; padding: 5px;">
      <div style="display: inline-block; width: 70vw">1-4 photos shared</div>
      <div style="display: inline-block; width: 10vw; text-align: right">2 <div class="qi"></div></div>
    </div>
    <div style="display: block; background-color: #efefef; padding: 5px;">
      <div style="display: inline-block; width: 70vw">5-8 photos shared</div>
      <div style="display: inline-block; width: 10vw; text-align: right">2 <div class="qi"></div></div>
    </div>
    <div style="display: block; background-color: #efefef; padding: 5px;">
      <div style="display: inline-block; width: 70vw">Shared your thoughts (> 50 characters)</div>
      <div style="display: inline-block; width: 10vw; text-align: right">3 <div class="qi"></div></div>
    </div>
    <div style="display: block; background-color: #d2d2d2; padding: 5px;">
      <div style="display: inline-block; width: 65vw">Max per sharing</div>
      <div style="display: inline-block; width: 15vw; text-align: right">10 <div class="qi"></div></div>
    </div>

  </div>

</ion-content>