<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Explore Experiences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="map-explore"></div>

  <div id="infowindow-content-explore">
    <span id="place-name-explore" class="title"></span><br />
    <span id="place-address-explore"></span><br/>
    <span id="place-phone-explore"></span><br/>
    <div id="rating-info">
      <HR>
      Rating: <span id="place-rating-explore"></span><BR>
      based on <span id="place-numberexperience-explore"></span> shared experience
    </div>
  </div>

</ion-content>
