<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Share Experience</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="pac-card" id="pac-card">
        <div id="pac-container">
            <div style="padding: 0px 11px; font-size:14px; font-weight: bolder; margin-top: 10px;">
                Restaurant you currently at:
            </div>
            <input id="pac-input" type="text" placeholder="Restaurant Name" />
            <div style="padding: 0px 11px; font-size:11px;">Search base on your current map location boundary</div>
            <div style="padding: 0px 11px; font-size:11px;">Zoom out the map to expand the search area</div>
        </div>

    </div>


    <div id="map"></div>
    <div id="infowindow-content">

        <span id="place-name" class="title"></span><br />
        <span id="place-address"></span>
        <HR>
        <button mat-raised-button color="primary" (click)="share_experience()">Share Experience</button>

    </div>

</ion-content>
