<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recent Experiences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list *ngFor="let experience of experiences">
    <ion-item>
      <a style="margin-right: 10px;" href="/experience_by_id/{{ experience.place_id }}/{{ experience.id }}/1">
      <ion-avatar slot="start">
        <img src="{{ API_SERVER_URL }}/api/restaurant/display_experience_photo/{{ experience.experiences_photos_id }}/1" />
      </ion-avatar>
      </a>
      <ion-label>
        <h2><a href="/experience_by_id/{{ experience.place_id }}/{{ experience.id }}">{{ experience.name }}</a></h2>
        <ngb-rating [(rate)]="experience.rating" [max]="10" (rateChange)="onRateChange($event)" [readonly]="true">
          <ng-template let-fill="fill" let-index="index">
            <span class="star-small rating{{experience.rating}}" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating><BR>
        {{ experience.comment}}<BR>

        <div style="margin: 5px;">
          <small>{{ experience.updated_at | date:'medium' }}</small>
          <div style="float: right"> <div class="qi">{{ experience.points}}</div></div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>